* {
    padding: 0;
    margin: 0;
    list-style: none;
    user-select: none;
    box-sizing: border-box;
}

html,
body,
#root {
    width: 100%;
    height: 100%;
}

.login_box {
    width: 400px;
    height: 280px;
    position: absolute;
    right: 20%;
    top: 40%;
}

.header {
    color: white;
}

.ant-layout,
.ant-layout-content {
    height: 100%;
}

.header {
    span:nth-child(1) {
        float: left;
    }

    span:nth-child(2) {
        float: right;
        cursor: pointer;
    }

    b {
        margin-right: 15px;
    }
}

.role_add_page {
    width: 100%;

    input {
        outline: none;
        border: solid 1px #ccc;
    }

    .select_box {
        margin-bottom: 20px;

        div {
            width: 100%;
            height: 40px;
            line-height: 40px;

            input {
                margin-left: 20px;
                width: 20px;
                height: 20px;
                position: relative;
                top: 5px;
                background: white;
            }
        }
    }
}

.bm {
    margin-bottom: 20px;
}

.staff_txt {
    width: 80%;
}

.date {
    border: solid 1px #ccc;
    outline: none;
    height: 31px;
}

.staff_add {
    >div {
        margin: 20px 0px;

        span {
            display: inline-block;
            width: 100px;
        }

        .ant-select-selector {
            width: 234px !important;
        }
    }
}

.staff_search {
    width: 100%;
    margin-bottom: 20px;

    input {
        width: 30%;
    }

    .ant-select {
        width: 100px;
        margin: 0px 20px;
    }
}

.role_add_page {
    .role_top {
        margin-bottom: 30px;
    }
    button{
        margin-top: 30px;
    }
    .ant-input {
        width: 50%;
    }
}